.upload-meal-image-button {
  text-transform: uppercase;
  width: 200px
}

.upload-meal-image-progress-bar {
  width: 200px;
}

.upload-meal-image-success-container {
  width: 200px;
}

.upload-meal-image-success {
  width: 32px;
  height: 32px
}

.meal-description {
  width: 100%;
}

.create-meal-button {
  text-transform: uppercase;
  color: white;

  width: 100%
}
