.section-separator {
  margin: 32px 0;
  width: 100%;
  height: 1px;
  background-color: #7F7F7F
}

.raised-button {
  text-transform: uppercase;
  color: white
}

.expand-button {
  margin-top: 16px;
}


.card {
  height: 48px;
  background-color: #757575;
}

.overflow-protection {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.primary-section {
  .title {
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
  }

  .content {
    margin-top: 24px;
  }

  .text {
    font-size: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: lighter;
  }

  .text-emphasized {
    font-size: 20px;
    font-weight: bold
  }

  .voting-details {
    width: 100%;
    text-align: center
  }

}


.voting-section {
  .title-container {
    position: relative;

    .auth-button {
      position: absolute;
      right: 0;
    }
  }

  .voting-details {
    margin-top: 24px;

    .text {
      font-size: 24px;
      text-transform: uppercase;
      color: #FFFFFF;
      font-weight: lighter
    }

    .text-emphasized {
      font-size: 26px;
      font-weight: bold

    }
  }

  .vote-section {
    margin-top: 48px;

    .vote-button {
      width: 120px;
      height: 120px;

      .button-text {
        font-size: 64px;
        color: white
      }
    }
  }
}

.past-votings-section {
  .voting-date {
    text-align: left;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: lighter
  }

  .voting-meal-name {
    text-align: left;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: lighter
  }

  .voting-rating {
    text-align: right;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold
  }

  .voting-vote-count {
    text-align: right;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: lighter
  }

  .vote-count-emphasized {
    font-weight: bold;
    font-size: 20px
  }
}

.meals-section {
  .button-manage-meals {
    margin-bottom: 24px;
  }

  .meal-details-container {
    cursor: pointer;
    padding: 16px !important;

    .meal-name {
      font-weight: normal;
      font-size: 16px;
      color: white;
    }

    .rating {
      font-weight: bold;
      color: white;
    }
  }

  .button-meal-delete {
    margin-left: 6px;
    margin-right: 6px
  }

  .empty-card-mock {
    height: 48px;
    padding: 0 16px;
  }
}

.suggestions-section {
  .label {
    font-size: 22px;
    padding-right: 32px
  }

  .input {
    caret-color: white
  }

  .submitted-text {
    text-align: center;
    font-size: 22px;
    font-weight: bold
  }
}


